@media screen and (max-width: 365px)
	.login-form-wrapper
		button
			width: 46px;
			height: 46px;
			right: -10px;
			bottom: 10px;
			
//web-service media queries
@media screen and (max-width: 970px)
	.section
		width calc(100% - 240px)
@media screen and (max-width: 670px)
	.sidebar
		display none
		position absolute
		.sidebar-close-ico
			position absolute
			right 20px
			top 20px
			color $cross-ico-h
			display block
	.section
		width 100%
		.menu
			height 60px
			border-bottom 1px solid $border-light
		.nav-icon
			display block
		.sidebar-open-ico
			display block
			position absolute
			margin 15px 90px
		.nav-links
			position: absolute;
			top: 60px;
			background: white;
			z-index: 9;
			height auto
			flex-direction: column;
			justify-content: center;
			width: 100%;
			margin 0
			display none
			box-sizing border-box
			.nav-link
				height 60px
				width 100%
		