include mixins.pug
doctype html
<html lang="ru">
- var headTags = {charset: "utf-8", title: "title", viewport: true, description: "description", keywords: "keywords", author: "Oleg Palshin", mainCSSname: "profile-bundle",mainJSname: "profile-main",jQueryCDN: true, jQueryCDNv: "3.2.0", Bootstrap4CDN: false,Bootstrap3CDN: false, addCSSnames: ["bootstrap"],addJSnames: ["svg-caching"] };

head
	+headTags(headTags)
	|
	link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
	|
	link(href="https://fonts.googleapis.com/css?family=Roboto:500", rel="stylesheet")
body
	.container-fluid
		.header
			.header__top-line
				#mobileNavBtn.mobile-nav-ico
					.bars-ico
						svg(width="24" height="24")
							use(xlink:href="#bars-ico")
				.user-profile
					.user-emails
						.user-emails__wrapper
							.user-emails__amount
								span 4
							.mail-ico
								svg(width="20" height="20")
									use(xlink:href="#mail-ico")
					.user-notifications
						.user-notifications__wrapper
							.user-notifications__amount
								span 4
							.notification-ico
								svg(width="24" height="24")
									use(xlink:href="#notification-ico")
					.user-avatar
						a.user-avatar__link(href="#")
							img(src="img/avatar-head.png")
			.header__nav-line
				nav#mainNavigation.nav
					ul#mainNavigationList.nav__links-list
						li.nav__list-item
							a.nav__link(href="#")
								span Главная
						li.nav__list-item
							a.nav__link(href="#") 
								span Новости
						li.nav__list-item
							a.nav__link(href="#")
								span Подразделения
						li.nav__list-item
							a.nav__link(href="#")
								span Расписания
						li.nav__list-item
							a.nav__link(href="#")
								span Люди
						li.nav__list-item.current
							a.nav__link(href="#")
								span Мой профиль
		.container
			.container__head.row
				h1 Мой профиль
			.main-content
				.tabs-nav.row
					.tab-nav.active.col-md-4
						a.tab-nav__link(href="#")
							span Профиль
					.tab-nav.col-md-4
						a.tab-nav__link(href="#")
							span Курсы						
					.tab-nav.col-md-4
						a.tab-nav__link(href="#")
							span Портфолио
				.row.user-profile
					.col-md-4.left-column
						.left-column__wrapper
							.avatar-big
								.avatar-big__change
									.camera-ico
										svg(width="21" height="21")
											use(xlink:href="#camera-ico")
									span Обновить фотографию
								.avatar-big__img-wrapper
									img.avatar-big__img(src="img/photo.png")
							.notifications
								.notifications__item
									.hide-notification.cross-ico
										svg(width="10" height="10")
											use(xlink:href="#cross-ico")
									p.notifications__head Занятие перенесено
									p.notifications__text Дисциплина Философия для группы СО-23 перенесена на 13:00, 512 ауд.
								.notifications__item
									.hide-notification.cross-ico
										svg(width="10" height="10")
											use(xlink:href="#cross-ico")
									p.notifications__head Занятие перенесено
									p.notifications__text Дисциплина Философия для группы СО-23 перенесена на 13:00, 512 ауд.
					.col-md-8.col-sm-9
						.profile-info
							.about-user
								.about-user__head
									.record-voice-ico.head-ico-item
										svg(width="25" height="25")
											use(xlink:href="#record-voice-ico")
									.about-user__head-text
										h2 О себе
									.more-vert-ico.ripple
										.more-vert-ico__wrapper
											svg(width="25" height="25")
												use(xlink:href="#more-vert-ico")
									+addExtraMenu
								.about-user__content
									p «ВКонта́кте» — социальная сеть принадлежащая Mail.Ru Group.
									p Располагается по адресу vk.com. По данным SimilarWeb, «ВКонтакте» является первым по популярности сайтом в России и на Украине, 4-м — в мире.
							.main-info
								.main-info__head
									.person-ico.head-ico-item
										svg(width="25" height="25")
											use(xlink:href="#person-ico")
									.main-info__head-text
										h2 Основная информация
									.more-vert-ico.ripple
										.more-vert-ico__wrapper
											svg(width="25" height="25")
												use(xlink:href="#more-vert-ico")
									+addExtraMenu
								.main-info__content
									.main-info__form-wrapper
										form.main-info__form
											.main-info__form-row
												label.main-info__form-label(for="") Роль
												input#userRole.main-info__form-input(type="text" name="")
											.main-info__form-row
												label.main-info__form-label(for="") Имя
												input#userName.main-info__form-input(type="text" name="")
											.main-info__form-row
												label.main-info__form-label(for="") Отчество
												input#userPatronymic.main-info__form-input(type="text" name="")
											.main-info__form-row
												label.main-info__form-label(for="") Фамилия
												input#userLastName.main-info__form-input(type="text" name="")
											.main-info__form-row
												label.main-info__form-label(for="") Дата рождения
												input#userBirthDate.main-info__form-input(type="text" name="")
											.main-info__form-row.main-info__form-btn-group
												+formBtnGroup("main-info")
							.student-profile
								.student-profile__head
									.school-hat-ico.head-ico-item
										svg(width="25" height="25")
											use(xlink:href="#school-hat-ico")
									.student-profile__head-text
										h2 Студенческий профиль
									.more-vert-ico.ripple
										.more-vert-ico__wrapper
											svg(width="25" height="25")
												use(xlink:href="#more-vert-ico")
									+addExtraMenu
								.student-profile__content
									.student-profile__form-wrapper
										form.student-profile__form
											.student-profile__form-row
												label.student-profile__form-label(for="") Университет
												.select-wrapper
													select#userUniversity.student-profile__form-select(type="" name="")
														option ИвГУ (Ивановский филиал)
														option ИвГУ (Шуйский филиал)
														option ИГМА
														option ИГЭУ
											.student-profile__form-row
												label.student-profile__form-label(for="") Год поступления
												.select-wrapper
													select#userEnterYear.student-profile__form-select(type="" name="")
														option 2017
														option 2016
														option 2015
														option 2014
														option 2013
											.student-profile__form-row
												label.student-profile__form-label(for="") Курс
												.select-wrapper
													select#userCourse.student-profile__form-select(type="" name="")
														option 1
														option 2
														option 3
														option 4
											.student-profile__form-row
												label.student-profile__form-label(for="") Факультет
												.select-wrapper
													select#userFaculty.student-profile__form-select(type="" name="")
														option Экономический
														option Физический
														option Филологический
														option Юридический
											.student-profile__form-row
												label.student-profile__form-label(for="") Группа
												.select-wrapper
													select#userGroup.student-profile__form-select(type="" name="")
														option СО-24
														option СО-25
														option СО-26
														option СО-27
											.student-profile__form-row
												label.student-profile__form-label(for="") Зачетка
												input#userRecordBook.student-profile__form-input(type="" name="")
											.student-profile__form-row
												label.student-profile__form-label(for="") Студенческий
												input#userID.student-profile__form-input(type="" name="")
											.student-profile__form-row
												label.student-profile__form-label(for="") Форма обучения
												.select-wrapper
													select#userEduForm.student-profile__form-select(type="" name="")
														option Очная
														option Заочная
											.student-profile__form-row
												label.student-profile__form-label(for="") Дополнительно
												input#userExtraInfo.student-profile__form-input(type="" name="")
											.student-profile__form-row.student-profile__form-btn-group
												+formBtnGroup("student-profile")
							.user-contacts
								.user-contacts__head
									.call-ico.head-ico-item
										svg(width="25" height="25")
											use(xlink:href="#call-ico")
									.user-contacts__head-text
										h2 Контакты
									.more-vert-ico.ripple
										.more-vert-ico__wrapper
											svg(width="25" height="25")
												use(xlink:href="#more-vert-ico")
									+addExtraMenu
								.user-contacts__content
									.user-contacts__form-wrapper
										form.user-contacts__form
											.user-contacts__form-row
												label.user-contacts__form-label(for="") Телефон
												input#userPhone.user-contacts__form-input(type="tel" name="")
											.user-contacts__form-row
												label.user-contacts__form-label(for="") Эл. Почта
												input#userEmail.user-contacts__form-input(type="email" name="")
											.user-contacts__form-row.user-contacts__form-btn-group
												+formBtnGroup("user-contacts")




</html>						
