include mixins.pug
doctype html
<html lang="ru">
- var headTags = {charset: "utf-8", title: "title", viewport: true, description: "description", keywords: "keywords", author: "Oleg Palshin", mainJSname: "web-service-main",jQueryCDN: true, jQueryCDNv: "3.2.0", Bootstrap4CDN: false, addCSSnames: ["jquery.mCustomScrollbar"],mainCSSname: "web-service-bundle",addJSnames: ["svg-caching","jquery.mCustomScrollbar.concat.min"] };

head
	+headTags(headTags)
	|
	link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
	|
	link(href="https://fonts.googleapis.com/css?family=Roboto:500", rel="stylesheet")
	|
	//-script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.16/css/perfect-scrollbar.min.css")
body
	.main-wrapper
		aside#sidebar.sidebar
			#sidebarClose.sidebar-close-ico
				svg.cross-ico(viewBox="0 0 24 24", width="30")
					use(xlink:href="#cross-ico") 
			.logo
				svg(viewBox="0 0 87 105" width="88")
					use(xlink:href="#v-logo")
			.search-wrapper
				form.search-form
					button.search-submit(type="submit")
						svg.search-ico(viewBox="0 0 24 24" width="26")
							use(xlink:href="#search-ico")
					input.search-field(type="search", placeholder="Найти пользователя...")
			.users-wrapper
				ul.users-list
					//-newuser(url,checked,name,email,status)
					+newuser("user1.png",false,"Kiril","test@test.ru","online")
					+newuser("user.png",false,"Frenzy","test@test.ru","online")
					+newuser("user2.png",false,"Sergey","test@test.ru","offline")
					+newuser("user3.png",true,"Sergey","test@test.ru","offline")
					+newuser("user4.png",true,"Denis","test@test.ru","offline")
					+newuser("user.png",false,"Sasha","test@test.ru","offline")
		section#section.section
			.menu
				#nav-icon.nav-icon
					span
					span
					span
					span
				#sidebarOpen.sidebar-open-ico
					svg(viewBox="0 0 24 24" width="30")
						use(xlink:href="#group-ico")
				nav#nav-links.nav-links
					a.nav-link.active(href="#")
						span Паблик
					a.nav-link(href="#")
						span Университет
					a.nav-link(href="#")
						span Аналоги лекаств
				.add-ticket__wrapper
					.add-ticket.ripple
						svg.add_ico(viewBox="0 0 24 24", width="17")
							use(xlink:href="#add-file-ico")
			#mainContent.main-content
				#ticket-1.ticket-wrapper
					.ticket-head
						h2.header Мобильное приложение
						a.change(href="#") Изменить
					.ticket-form-wrapper
						form.ticket-form(action="" method="POST")
							.ticket-form__item-wrapper.form-field__name
								svg.cross-ico(viewBox="0 0 24 24", width="17")
									use(xlink:href="#cross-ico") 
								input#name-1.ticket-form__input-name(type="text")
								label.ticket-form__label-name(for="name-1") Название тикета
							.ticket-form__item-wrapper
								label.ticket-form__label-msg(for="msg") Сообщение
								textarea#msg.ticket-form__input-msg(placeholder="Сообщение (максимум 250 символов)")
								.smiles-box
									.smile-1
							.ticket-form__item-wrapper
								label.ticket-form__label-files(for="files") Вложения
								label.ticket-form__upload-file
									input#addFile.ticket-form__input-files(type="file")
									.ticket-form__add-file-wrapper
										.ticket-form__add-file.ripple
											svg.add_ico(viewBox="0 0 24 24", width="17")
												use(xlink:href="#add-file-ico")
								.ticket-form__files-list
									//-newFileItem(url)
									+newFileItem("screen.png") 
									+newFileItem("screen.png") 
									+newFileItem("screen.png") 
								.files-weight
									span Общий размер: 32 мб
							.ticket-form__item-wrapper.options-list-wrapper
								select.ticket-form__options-list
									option Опубликовать прямо сейчас
									option Опубликовать через неделю
									option Опубликовать через месяц
									option Соранить в черновики
							.ticket-form__item-wrapper.submit-btn-wrapper
								button.submit-btn.ripple(type="submit", onclick="return false;")
									span.submit-btn__text Опубликовать
//-script(src="/dist/js/jquery.mCustomScrollbar.concat.min.js")
//-script(src="/dist/js/jquery.slimscroll.js")
</html>