@media screen and (max-width: 992px) {
  .left-column__wrapper {
    margin: 30px 10px;
  }
  .left-column .avatar-big {
    margin: 10px;
  }
  .left-column .avatar-big__img {
    width: 100%;
  }
  .profile-info {
    padding: 40px 0 18px;
  }
  .about-user {
    margin-bottom: 40px;
  }
  .about-user,
  .main-info,
  .student-profile,
  .user-contacts {
    margin-bottom: 58px;
  }
  .about-user__content,
  .main-info__content,
  .student-profile__content,
  .user-contacts__content {
    padding-top: 12px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 770px) {
  .header__top-line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
  .header__top-line .bars-ico {
    display: block;
  }
  .header__nav-line {
    display: none;
    height: auto;
  }
  .mobile-nav-ico {
    margin: 15px 10%;
    cursor: pointer;
  }
  .nav__links-list {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
  }
  .nav__list-item {
    height: 30px;
  }
  .nav__list-item:first-of-type {
    padding: 0;
  }
}
@media screen and (max-width: 666px) {
  .left-column,
  .user-profile {
    display: block;
  }
  .left-column__wrapper {
    display: flex;
    justify-content: space-around;
  }
  .notifications {
    margin: 10px 10px;
  }
  .avatar-big,
  .notifications {
    width: 45%;
  }
  .profile-info {
    padding: 40px 20px 18px;
  }
}
@media screen and (max-width: 515px) {
  .about-user__form-row,
  .main-info__form-row,
  .student-profile__form-row,
  .user-contacts__form-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-user__form-btn-group,
  .main-info__form-btn-group,
  .student-profile__form-btn-group,
  .user-contacts__form-btn-group {
    flex-direction: row;
    justify-content: center;
  }
  .about-user__form-decline,
  .main-info__form-decline,
  .student-profile__form-decline,
  .user-contacts__form-decline {
    margin-right: 0;
  }
  .about-user__content,
  .main-info__content,
  .student-profile__content,
  .user-contacts__content {
    padding-right: 0;
  }
  .about-user__content,
  .main-info__content,
  .student-profile__content,
  .user-contacts__content {
    padding-right: 0;
  }
  .about-user__form-input,
  .main-info__form-input,
  .student-profile__form-input,
  .user-contacts__form-input,
  .about-user__form-select,
  .main-info__form-select,
  .student-profile__form-select,
  .user-contacts__form-select,
  .about-user .select-wrapper,
  .main-info .select-wrapper,
  .student-profile .select-wrapper,
  .user-contacts .select-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  .left-column__wrapper {
    display: flex;
    flex-direction: column;
  }
  .left-column .avatar-big,
  .notifications {
    width: 90%;
    margin: 10px auto 10px;
  }
  .left-column .avatar-big {
    margin: 20px auto 0px;
  }
  .profile-info {
    padding: 30px 15px 15px;
  }
  .profile-info .select-wrapper:after {
    right: 5px;
    top: 45px;
  }
}
