//--------------------------//
//          COLORS          //
//--------------------------//
$label-text=#8b9399
$link-text=#58b7df
$btn-bg=#efefef
$btn-text=#c2c2c2
$btn-bg-h=#27ae60
$btn-text-h=white
$cross-ico=#757575
$cross-ico-h=#f56060

//theme-dark
$dt-form-bg=#3d3d5d
$dt-link-text=#eaeaea


//--------------------------//
//        DIMENTIONS        //
//--------------------------//


//--------------------------//
//           URLS           //
//--------------------------//


//--------------------------//
//         FUNCTIONS        //
//--------------------------//

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    -ms-box-shadow arguments
    -o-box-shadow arguments
    box-shadow arguments
    html.ie8 &,
    html.ie7 &,
    html.ie6 &
      border 2px solid arguments[length(arguments) - 1]

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  -ms-border-radius: arguments
  -o-border-radius: arguments
  border-radius: arguments


