//--------------------------//
//          COLORS          //
//--------------------------//
$label-text=#8b9399
$link-text=#58b7df
$btn-bg=#efefef
$btn-text=#c2c2c2
$btn-bg-h=#27ae60
$btn-text-h=white
$cross-ico=#757575
$cross-ico-h=#f56060

//theme-dark
$dt-form-bg=#3d3d5d
$dt-link-text=#eaeaea

//sidebar
$border-light=#ecf0f1
$info-name=#4d4d4e
$info-email=#bdc3c7
$offline=#e0e0e0
$online=#27ae60

//section menu
$border-red=#e74c3c
$border-gray=#bdc3c7
//form
$border-light-gray=#d3d7db
$label-gray=#9b9b9b
$link-gray=#d7d7d7
$select-black=#4a4a4a

$btn-blue=#0082d8
$btn-green=#03b04c

$scroolbar-gray=#C1C1C1

//profile
$top-line-blue=#03a9f4
$nav-line-blue=#05a2eb

$tab-nav-gray=#4a4a4a
$nav-link-blue=#a3daf7

$amount-red=#e64c66

$backside-gray=#edecec
$head-gray=#777777
$border-tab-gray=#e0e0e0
$border-tab-blue=#03a9f4

$left-column-blue=#b3deff
$notify-yelow=#ffe322
$profile-btn-green=#50ae55

$cross-ico-gray=#646464

$input-border-gray=rgba(0, 0, 0, 0.12)
$input-border-blue=#2096f3

$more-btn-gray=#adadad
$more-btn-wrapper-gray=#f2f2f2

$submit-btn-green=#50ae55
$decline-btn-text-gray=rgba(0, 0, 0, 0.26)

//--------------------------//
//        DIMENTIONS        //
//--------------------------//


//--------------------------//
//           URLS           //
//--------------------------//


//--------------------------//
//         FUNCTIONS        //
//--------------------------//

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    -ms-box-shadow arguments
    -o-box-shadow arguments
    box-shadow arguments
border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  -ms-border-radius: arguments
  -o-border-radius: arguments
  border-radius: arguments


