- var headTags = {charset: "utf-8", title: "title", viewport: true, description: "description", keywords: "keywords", author: "Oleg Palshin", mainCSSname: "bundle",mainJSname: "main",jQueryCDN: true, jQueryCDNv: "3.2.0", Bootstrap4CDN: false, addCSSnames: ['bootstrap-grid'],addJSnames: ["svg-caching"] };

head
	+headTags(headTags)
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

